main.home {
  div.passion {
    background-color: black;
    text-align: center;
    p {
      margin: 0;
      padding: 150px 0;

      span {
        border: 1px solid yellow;
        padding: 10px;
        text-transform: uppercase;
        font-size: 26px;

        &:first-child {
          background-color: yellow;
          font-weight: bold;
        }

        &:last-child {
          font-weight: lighter;
          background-color: transparent;
          color: white;
        }
      }
    }
  }

  div.category {
    .category-header {
      * {
        display: inline-block;
      }
    }

    .category-content {
      ul {
        margin:0;
        padding: 0;

        li {
          display: inline-block;
          list-style: none;
          position: relative;

          .content-text {
            position: absolute;
          }

          .content-image {
            width: 90px;
            height: 220px;
          }


        }


      }
    }
  }

}